log/*
test/*
tmp/*
spec/*
public/uploads/*
public/system/*
public/img/*
public/assets/*
public/sitemap.xml
db/structure.sql
config/application.yml
.*
!/.editorconfig
!/.gitignore
!/.rubocop.yml
!/.ruby-version
cron.log
error.log

